body {
    font-size: 16px;
    background-image: url(../images/floral.jpg);
    /* background-size:cover; */
  }

  .container{

    margin: 300px;

  }

  h1{
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 40px;
    padding: 5px;

  }

  h4, h3{
    font-family: 'Ribeye', cursive;
  }